@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/1cc814175825979.64ba193825ede.jpg");
    height: 100vh;
    background-size: cover;
}

.ntr-card {
    text-align: center;
    color: black;
    font-family: Lobster;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 15px;

}

.main-heading {
    font-family: Roboto;
}

.paragraph {
    font-family: Roboto;
}

.button {
    text-align: center;
    font-size: 15px;
    height: 36px;
    width: 136px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #25b1cc;
    color: white;
}